@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  text-decoration: none;
  width: 100px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

h3 {
  color: black;
  background-color: rgb(243, 186, 44);
  text-align: center;
  text-decoration: none;
}

h4 {
  color: black;
  background-color: rgb(243, 186, 44);
  display: flex;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .cards, .container_bienvenido {
    background-color: white;
    flex-direction: column;
  }
  h3 {
    background-color: bisque;
  }
}
@media screen and (min-width: 1781px) {
  .cards, .container_bienvenido {
    background-color: black;
    flex-direction: column;
  }
  h3 {
    background-color: bisque;
  }
}
.trabajo,
.works {
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.trabajo .cards,
.works .cards {
  margin-left: 5px;
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
}
.trabajo .cards .card img,
.works .cards .card img {
  width: 100%;
  border: 2px solid black;
}
.trabajo .textos translate,
.works .textos translate {
  display: flex;
  align-content: center;
}

.contenedor_hablemos {
  /*hablemos*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
}
.contenedor_hablemos .containerForm {
  height: 100%;
  width: 100%;
  padding: 5%;
  text-align: center;
}

.container_portafolio {
  /*obras*/
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding-left: 20px;
}
.container_portafolio .obras {
  max-width: 100%;
  margin-left: 5px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container_portafolio .obras-img {
  max-width: 100%;
  height: auto;
  transition: 0.5s;
  padding-bottom: 2px;
  background-position: center;
  flex: 1;
}
.container_portafolio .obras h5 {
  margin-bottom: 2px;
  padding-top: 3px;
  color: white;
  background-color: rgb(243, 186, 44);
  font-weight: bold;
  text-transform: uppercase;
}
.container_portafolio .obras text {
  bottom: 0;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.container_bienvenido {
  /* index.html */
  display: flex;
  margin-top: 20px;
}
.container_bienvenido .imgIlust {
  float: right;
  align-items: center;
  border: 2px solid black;
}
.container_bienvenido .containerText {
  align-items: center;
  width: 40%;
  margin: 0 auto;
  height: 20%;
  float: left;
  padding-left: 10px;
}

.container {
  padding: 20px;
  margin: auto;
  max-width: 800px;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(243, 186, 44);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  background-color: rgb(223, 213, 220);
}
body .headline {
  width: 100%;
  background-color: rgb(243, 186, 44);
  justify-content: flex-start;
  align-items: flex-end;
}
body .headline .logoImg {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
body .headline .nav {
  background-color: rgb(243, 186, 44);
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  padding-right: 2rem;
  display: flex;
  align-items: flex-end;
}
body .headline .nav nav-item {
  list-style-type: none;
  text-decoration: none;
}

footer {
  color: black;
  background-color: black;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  position: sticky;
  top: 100%;
}
footer .footer_text {
  justify-content: center;
  color: azure;
}

.translate {
  transition: 2s;
}
.translate:hover {
  transform: translate(0px, -25px);
}

.imgIlust {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 50%;
  }
  to {
    margin-left: 0%;
    width: 50%;
  }
}
.obras:hover {
  background-image: url("../img/obras/mallSport_hover.png");
}

.obras:hover img {
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */