.workers, .work, .services, .works {
  padding: 10px;

  .cards {
    display: flex;
    gap: 5px;
    background-color: $mainColour;

    .card translate {
      display: flex;
      justify-content: center;

    .card img {
      width: 50%;
     }
   }
  .textos translate {
    display: flex;
    align-content: center;
   }

  }
}

.mapImg {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.containerForm {
  
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 100px 200px 100px;
  
}