.workers, .work, .services, .works, .index {
  padding: 2px;
  align-items: center;
  justify-content: center;
  
  .cards {
    display: flex;
    gap: 2px;
    justify-content:space-evenly;

    .card img {
     width: 100%;
     }
   }
  .textos translate {
    display: flex;
    align-content: center;
   }

  }

  .contenedor_hablemos{
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: flex-end;

.mapImg {
 flex: 1;
 margin-right: 20px;
 max-width: 300px;
}

.texto_ubicacion{
padding-left: 20px;
padding-right: 20px;
text-indent: 20px;
 flex: 2;
}
}

.containerForm{
  min-height: 100px;
  width: 450px;
  margin:10px 30px 30px 5px;
  padding: 5%;
  align-content: center;

}
