body {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  background-color: rgb(223, 213, 220);

  .headline {
  width: 100%;
  background-color: rgb(243, 186, 44);
  justify-content: flex-start;
  align-items: flex-end;

  .logoImg {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;

  }

  .nav {
    background-color:$mainColour;
    width: 100%;
    float: right;
    margin: 0 0 3em 0;
    padding-right: 2rem;
    display: flex;
    align-items: flex-end;

    & nav-item{
      list-style-type:none;
      text-decoration: none;
    }
    }
  }
}

  footer{
    color: black;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    position: sticky;
    top: 100%;  

        .footer_text {
          justify-content: center;
          color: azure;
        }
      }
    