body {
  background-color: rgb(223, 213, 220);

  .headline {
  padding: 10px 35px;
  width: 100%;
  background-color: rgb(243, 186, 44);
 
  justify-content: flex-start;
  align-items: flex-end;

  .logoImg {
    width: 30px;
    height: 30px;
    border-radius: 10px;

  }

  .nav {
    background-color:$mainColour;
    width: 100%;
    float: right;
    margin: 0 0 1em 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
  }}

  .containerIlust {
    /* index.html */
    background-image: url("../img/index/IlustracionB.png") center center;
    height: 100vh;
    grid-row: 3/4;
    grid-column:3/4;
  background-position: center;
    
  }}
  
    .containerFooter {
      background-color: black;
    
      & h5 {
        color: azure;
        text-align: center;
      }
    }

  