body {
  background-color: rgb(223, 213, 220);

  .headline {
  width: 100%;
  background-color: rgb(243, 186, 44);
  justify-content: flex-start;
  align-items: flex-end;

  .logoImg {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;

  }

  .nav {
    background-color:$mainColour;
    width: 100%;
    float: right;
    margin: 0 0 3em 0;
    padding-right: 2rem;
    display: flex;
    align-items: flex-end;

    & nav-item{
      list-style-type:none;
      text-decoration: none;
    }
    }
  }

  .containerIlust {
    /* index.html */
    background-image: url("../img/index/IlustracionB.png") center center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 100px 200px 100px;
  }}
  
  .containerFooter {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;  
    
      &-h5 {
        color: azure;
      }
    }

  