.containerIlust{  /* index.html */
    background-image: url("../img/index/IlustracionB.png");
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    }