
@media screen and (max-width: 768px) {
  .cards, .container_bienvenido{
    background-color: white;
    flex-direction: column;
  }
  
  h3{
    background-color: bisque;
  }
}

@media screen and (min-width: 1781px) {
  .cards, .container_bienvenido{
    background-color: black;
    flex-direction: column;
  }
  
  h3{
    background-color: bisque;
  }
}