.translate {
    transition: 2s;

  &:hover {
    transform: translate(0px, -25px);
  }
}


.imgIlust {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 50%
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}

 
.obras:hover {
  background-image: url('../img/obras/mallSport_hover.png');
}
.obras:hover img  {
  opacity: 0.40;
}